@model BookTitleViewModel
@{
    ViewData["Title"] = "Add a new title";
}

@if(ViewBag.Authors is not null)
{
    <h1>Add a new title</h1>

    <form asp-controller="BookTitle" asp-action="Add" class="mt-5">
        <div class="container">
            <div class="row mb-3">
                <div class="form-group col-md-4">
                    <label for="Title">Title</label>
                    <input type="text" class="form-control" id="Title" placeholder="Title" name="Title" />
                    <div class="text-danger">
                        <small>@Html.ValidationMessageFor(x => x.Title)</small>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-4">
                    <label for="PublicationYear">Year of publication</label>
                    <input type="text" class="form-control" id="PublicationYear" placeholder="PublicationYear" name="PublicationYear" />
                    <div class="text-danger">
                        <small>@Html.ValidationMessageFor(x => x.PublicationYear)</small>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-4">
                    <label for="AuthorId">Author</label>
                    <select class="form-control" id="AuthorId" name="AuthorId">
                        @foreach (var author in ViewBag.Authors as List<AuthorViewModel>)
                        {
                            <option value="@author.Id">@author.Firstname @author.Lastname</option>
                        }
                    </select>
                    <a asp-controller="Author" asp-action="List" class="text-decoration-underline text-primary">Manage authors</a>
                    <div class="text-danger">
                        <small>@Html.ValidationMessageFor(x => x.AuthorId)</small>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
}