@using BooksLife.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<BorrowViewModel>;
@if (Model is not null)
{

    ViewData["Title"] = "List of borrows";

    @if (!(ViewBag.Response.Message == ""))
    {
        <div class="alert @(ViewBag.Response.Succeed ? "alert-success" : "alert-danger")">
            @ViewBag.Response.Message
        </div>
    }

    <h1>List of borrows</h1>

    <hr />

    <a class="text-success fw-bold text-decoration-none" asp-controller="Borrow" asp-action="Add"><small>+ Add new</small></a>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Book</th>
                <th>Reader</th>
                <th>Date of borrow</th>
                <th>Return deadline</th>
                <th>Date of return</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrow in Model)
            {
                <tr>
                    <td>@borrow.Book.Title</td>
                    <td>@borrow.Reader.Firstname @borrow.Reader.Lastname</td>
                    <td>@borrow.BorrowDate.ToString("dd MMMM yyyy")</td>
                    <td>@borrow.ReturnDeadline.ToString("dd MMMM yyyy")</td>
                    <td>@borrow.ReturnDate?.ToString("dd MMMM yyyy")</td>
                    <td>@(borrow.IsActive ? "Active" : "Returned")</td>
                    <td>
                        <a class="btn btn-sm transparent" title="Return" asp-controller="Borrow" asp-action="SetAsReturned" asp-route-id="@borrow.Id">
                            <i class="bi bi-check-lg text-success"></i>
                        </a>
                        <a class="btn btn-sm transparent" title="Show details" asp-controller="Borrow" asp-action="Index" asp-route-id="@borrow.Id">
                            <i class="bi bi-info-circle text-primary"></i>
                        </a>
                        <a class="btn btn-sm transparent" title="Remove" asp-controller="Borrow" asp-action="Remove" asp-route-id="@borrow.Id">
                            <i class="bi bi-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p class="float-end">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
    <div class="d-flex justify-content-center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", new { page }), new PagedListRenderOptions{
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </div>
}